_site/
Gemfile
Gemfile.lock
/__pycache__/
*.error.md
/_func_cache.json
/_test.py
*uncommited*
.pyprojectx/
oqhlib.egg-info/
__pycache__/
/_tools/lib/build/
/.pdm-python
*.bak
/_tests/_output/
*.local.*
/list-qa.txt
