@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');

body {
    margin: 0.5cm 0.3cm calc(0.5cm + 1.2em + 0.5cm) 0.5cm;
    font-size: calc(0.6*(1vw + 0.8vh + 0.5cm));
    --header-size-max: 1.5em;
    --header-size-min: 0.8em;
    font-family: 'Roboto', sans-serif;
}

ans {
    display: inline-block;
}

ans, .ans {
    font-size: 1.4em;
}

code, kbd, pre, samp {
    font-size: inherit;
}

pre {
    display: block;
    overflow-x: auto;
}

code.language-plaintext {
    background-color: aliceblue;
    border: solid 1px rgb(208, 232, 255);
    border-bottom-color: rgb(208, 232, 255);
    box-shadow: inset -0.05rem -0.15rem 0 rgb(208, 232, 255);
    border-radius: .35rem;
    padding: .2rem;
    font-size: 0.9em;
}

.sitename {
    /* ref: https://nathanfriend.io/2018/04/27/fantastic-fast-fonts-with-system-ui.html */
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 
             'Segoe UI', Roboto, 'Helvetica Neue', 
             Ubuntu, Arial, sans-serif;
    color: crimson;
    font-weight: bold;
    font-style: italic;
    box-sizing: border-box;
    position: fixed;
    bottom: 0.5cm;
    left: 0.5cm;
    font-size: 1.2em;
    background-color: white;
    border-radius: 0.3rem;
    padding: 4px 8px;
}

.sitename:hover > span {
    border-bottom: 0.1em solid crimson;
}

.sitename > span {
    display: inline-block;
    border-bottom: 0.1em solid transparent;
}

.smaller{
    font-size: 0.8em;
}

section {
    margin: 0;
    padding: 0 0 0 2vmin;
}

footer {
    position: fixed;
    bottom: 0.5cm;
    right: 0.5cm;
    font-size: 0.8em;
    background-color: white;
    border-radius: 0.3rem;
}

/* pre > code {
    font-size: 2em;
} */

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.2em -0.5em;
    font-family: 'Merriweather', serif;
    word-spacing: 0.15rem;
}

h1 {
    font-size: calc(1.0*(var(--header-size-max) - var(--header-size-min)) + var(--header-size-min));
    margin: 0 0 1em 0;
}
h2 {
    font-size: calc(1/2*(var(--header-size-max) - var(--header-size-min)) + var(--header-size-min));
}
h3 {
    font-size: calc(1/3*(var(--header-size-max) - var(--header-size-min)) + var(--header-size-min));
}
h4 {
    font-size: calc(1/4*(var(--header-size-max) - var(--header-size-min)) + var(--header-size-min));
}
h5 {
    font-size: calc(1/5*(var(--header-size-max) - var(--header-size-min)) + var(--header-size-min));
}
h5 {
    font-size: calc(1/6*(var(--header-size-max) - var(--header-size-min)) + var(--header-size-min));
}

ul {
    margin-bottom: 10px;
}

@media (orientation: landscape) {
    section {
        margin: 0;
        padding: 0 1.2em 0 1.8em;
    }
}

kbd {
    color: black;
    vertical-align: middle;
    background-color: white;
    border: solid 1px gray;
    border-bottom-color: gray;
    box-shadow: inset -0.05rem -0.15rem 0 gray;
    border-radius: .35rem;
    padding: .3rem;
    font-size: 0.8em;
    display: inline-block;
}

roman {
    font-family: serif;
}

.MathJax_Display { 
    text-align: left !important;
    display: inline !important;
}