<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/style2.css">
  </head>
  <body>
    <nav>
      <a href="/" class="sitename"><span>oqueeh<span class="smaller">.net</span></span></a>
      {% assign cat_url = '/' %}
      {% assign path_cats = page.url | split: '/' %}
      {% assign path_cats_print = path_cats.size | minus: 2 %}
      {% assign path_count = 0 %}
      {% for pg_cat in path_cats %}
        {% if pg_cat != '' %}
          {% assign cat_url = cat_url | append: pg_cat | append: '/' %}
          {% if path_cats_print > path_count %}
            {% if path_count > 0 %}
              &gt;
            {% endif %}
            <a class="sidebar-nav-item" href="{{ cat_url }}">{{ site.data.category_names[pg_cat] }}</a>
            {% assign path_count = path_count | plus: 1 %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
    <h1>{{ page.title }}</h1>
    <div>
      {% for tag in page.tags %}
      <span>{{ tag }}</span>
      {% endfor %}
    </div>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; {{ 'now' | date: "%Y" }} MASBicudo
    </footer>
  </body>
</html>